// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-container {
  padding: 16px;
}

.card-white {
  margin: 16px 0;
  padding: 16px;
  background-color: white
}

.bottom-link {
  margin: 32px 0;
  padding: 16px 0;
  border-top: 2px solid rgba(0,0,0,0.3)
}

